@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Outfit", sans-serif;
  padding: 0;
}

.navigation {
  background-color: black;
  height: 100px;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  height: 50px;
}
.navbar {
  list-style: none;
}
.navbar li {
  display: inline-block;
  padding: 0px 20px;
}

.navigation ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #00a699;
  display: inline-block;
  margin: auto;
  transition: 0.5s;
}

.navigation ul li:hover::after {
  content: "";
  width: 100%;
}
.btn {
  display: inline-block;
  padding: 0px 20px;
}

button {
  padding: 12px 24px;
  background-color: rgb(0, 0, 0);
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 30px;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
.sec1 {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.667), rgba(0, 0, 0, 0.305)),
    url(/img/pexels-artem-zhukov-17265260.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 31px;
  color: white;
  font-size: 36px;
  font-weight: 500;
}

.sec1 p {
  font-size: 22px;
  font-weight: 400;
}
.pcol {
  color: #00a699;
}
.info h1 {
  font-size: 60px;
}
.ploc {
  color: #00a699;
}
.sec2 {
  min-height: 70vh;
}

.ever {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.prev p {
  border-radius: 10px;
  font-size: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 400;
  color: #00a699;
  background-color: #79fff4;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 100px;
}
.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.cards {
  margin: 20px;
  display: flex;
  justify-content: space-around;
  padding: 30px 10px;
}
.card {
  color: white;
  background-color: rgba(0, 0, 0, 0.93);
  width: 30%;
  padding: 30px;
  border-radius: 15px;
}
.card p {
  color: #888787;
}

.sec3 {
  width: 100%;
  height: 50%;
  background-color: #95fff689;
  min-height: 250px;
}
.details {
  padding: 10px 60px;
}
.details h1 {
  font-size: 48px;
  padding-top: 22px;
}
.details p {
  padding-bottom: 8px;
  font-weight: 400;
  color: rgba(23, 22, 22, 0.845);
}

.f1 {
  width: 100%;
  height: 50vh;
  display: flex;
  background-color: #00a699;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  color: #000;
}

.new {
  text-align: center;
}

input[type="text"] {
  font-size: 20px;
  background-color: #eee;
  width: 100%;
  padding: 25px 110px;
  display: inline-block;
  border-radius: 100px;
  border: none;
  margin-top: 20px;
  margin-bottom: 16px;
}

.new {
  justify-items: center;
}
.new h1 {
  padding: 12px 2px;
}
.new p {
  padding: 12px 2px;
}


.footer {        
  background-color: black; /* Light background color for the footer */
  color: white; /* Text color */
  padding: 50px 200px 50px 200px;
  /*justify-content: space-between; /* Spread content evenly horizontally */
}
/*.footer-content {
}*/
.footer-table {
  display: table;
}
.footer-row {
  display: table-row;
}
.footer-cell {
  font-weight: 300;
  display: table-cell;
  padding-left: 200px;
}
.footer-heading {
  font-size: large;
  padding-bottom: 35px;
  font-weight: bold;
}
.footer-link:hover {
  text-decoration: underline;
}
.footer-link {
  display: flex;
  gap: 20px;
  color: #888787; /* Link text color */
  text-decoration: none;
}
.footer-left {
  width: 30%; /* Set the width for the left side of the footer */
  text-align: left; /* Align text to the left */
}

.logo2 {
  cursor: pointer;
  height: 70px;
 
}



